table,
thead,
tr,
th,
td {
	border: 1px solid rgb(0, 0, 0);
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.color-white {
    color: white;
}

#bg-red {
	background-color: rgba(192,80,77,255)
}

#bg-lightRed {
    background: rgba(218,150,148,255);
}

#bg-slightlyRed {
    background-color: rgba(242,220,219,255);
}

#bg-lightGray {
    background-color: rgba(217,217,217,255);
}